@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans:300,400,600,700,800');
*, *::before, *::after{
  box-sizing: border-box;
}
body{
  margin: 0;
}
.rwd{
  display: block;
  max-width: 100%;
  height: auto;
}
.container{
  background-color: #181818;
}
.header{
  background-color: #181818;
  min-height: 150px;
  margin: 0;
  padding: 20px 20px;
}
.logo{
  text-align: center;
  letter-spacing: 0.5px;
  font-size: 2.5rem;
  font-family: 'Abril Fatface', cursive;
  margin: 40px 0;
  color: yellow;
  
}
.nav{
  align-items: center;
  margin: 20px 0;
}
.main-menu{display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}
.main-menu a{
  margin: 0 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: white;
  font-size: 0.8rem;
  transition: border-bottom 200ms;
}
.main-menu a:hover{
  border-bottom: 2px solid yellow;
}

.wrapper{margin: 0 10px 40px 10px;
}

.ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 18px;
  list-style: none;
  padding-left: 0;
}
.ul li{
  position: relative;
  width: 46%;
  margin: 30px 0;
}
.ul li:hover{
  transform: scale(1.03,1.03);
  transition: 300ms;
   }

.ul span{
  font-family: 'Abril Fatface', cursive;
  font-size: 3.0rem;
  color: yellow;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}
.ul a{
  display: block;
  }

.dark-bg{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.dark-bg::before{
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute; 
  top: 0;
  left: 0;
  background-color: transparent;
  transition: all 0.4s;
}
.dark-bg:hover::before{
  content: "Name";
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  background-color: rgb(0,0,0,0.4);

}
}
.footer{
  background-color: #010101;
  min-height: 280px;
  padding: 40px 0;

}
.footer ul{
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin: 0 80px;
  list-style-type: none;
}
.footer ul a{
  padding: 0;
  margin: 0 12px;
  color: whitesmoke;
  font-size: 1.6rem;
}
.name{
  display: block;
  margin: 20px 20px;
  color: white;
  text-align: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 1.4rem;

}
.copyright{
  display: block;
  margin: 15px;
  color: white;
  text-align: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 0.4rem;
  letter-spacing: 1.4px;

}
.copyright span{
  display: block;
  line-height: 2;
}

/* Desktop Device  */ 
@media screen and (min-width: 1000px){
  .container{
    min-height: 100vh;
  }
  .header{
    padding: 0;
    min-height: 15vh;
    margin: 0 0 120px 0;
  }
  .logo{
    padding-top: 54px;
    padding-bottom: 60px;
    margin: 0;
  }
  .nav{
    padding: 0;
    margin: 0;
  }
  .main-menu{
    margin: 0;
  }

  .main-menu a{
    margin: 0 30px;
    font-size: 1.2rem;
  }
  .ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto; */
  }
  .ul li{
    width: 20%;
    margin:40px 2.5%;
  }


  
}