@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans:300,400,600,700,800');
*, *::before, *::after{
  box-sizing: border-box;
}
body{
  margin: 0;
}
.rwd{
  max-width: 100%;
  height: auto;
}
.container{
  background-color: #181818;
}
.header{
  background-color: #181818;
  min-height: 150px;
  margin: 0;
  padding: 20px 20px;
}
.logo{
  text-align: center;
  letter-spacing: 0.5px;
  font-size: 2.5rem;
  font-family: 'Abril Fatface', cursive;
  margin: 40px 0;
  color: yellow;
  
}
.nav{
  align-items: center;
  margin: 20px 0;
}
.main-menu{display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}
.main-menu a{
  margin: 0 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: white;
  font-size: 0.8rem;
  transition: border-bottom 200ms;
}
.main-menu a:hover{
  border-bottom: 2px solid yellow;
}
.wrapper{
  background-color: #181818;
}
.container{
  background-color: #181818;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.text{
  margin: 20px 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: white;
}
.ul{
  background-color: #181818;
  padding: 10px 0;
  list-style: none;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box{
  margin: 20px 30px;
  min-height: 280px;

}


.footer{
  background-color: #010101;
  min-height: 280px;
  padding: 40px 0;

}
.footer ul{
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin: 0 80px;
  list-style-type: none;
}
.footer ul a{
  padding: 0;
  margin: 0 12px;
  color: whitesmoke;
  font-size: 1.6rem;
}
.name{
  display: block;
  margin: 20px 20px;
  color: white;
  text-align: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 1.4rem;

}
.copyright{
  display: block;
  margin: 15px;
  color: white;
  text-align: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 0.4rem;
  letter-spacing: 1.4px;

}
.copyright span{
  display: block;
  line-height: 2;
}

/* Desktop Device  */ 
@media screen and (min-width: 1000px){
  .container{
    min-height: 100vh;
  }
  .header{
    padding: 0;
    min-height: 15vh;
    margin: 0 0 120px 0;
  }
  .logo{
    padding-top: 54px;
    padding-bottom: 60px;
    margin: 0;
  }
  .nav{
    padding: 0;
    margin: 0;
  }
  .main-menu{
    margin: 0;
  }

  .main-menu a{
    margin: 0 30px;
    font-size: 1.2rem;
  }
  

.text{
  text-align: center;
  padding: 0;
  margin: 0;
}
.container{
  margin: 0;}

  .ul{
    background-color: #181818;
    padding: 20px 120px;
  }
  .box{
    margin: 80px 30px;
    min-height: 280px;
  }
  .wrapper{
  padding: 0;
  margin-bottom: 100px;
  margin-top: 0;
  }
  
}